<div class="text-center mt-2">
  <h3>Измените ваш пароль</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field col-4 ml-0">
    <p class="mb-2">
    <%= f.label :password, "Новый пароль", class: "mb-0" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %>
    </p>
    <%= f.password_field :password, autofocus: true, placeholder: "New password", class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="field col-4 ml-0">
    <p class="mb-0 mt-2"><%= f.label :password_confirmation, "Подтвердите новый пароль" %></p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm new password" %>
  </div>

  <div class="actions ml-3">
    <%= f.submit "Изменить пароль", class: "btn btn-outline-success mt-2" %>
  </div>
<% end %>

<div class="mrg d-flex justify-content-start">
  <%= render "devise/shared/links" %>
</div>