<div class="text-center mt-2">
  <h3>Восстановление пароля</h3>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field col-4 ml-0">
    <%= f.label :"Ваш электронный адрес" %>
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control", autocomplete: "email" %>
  </div>

  <div class="actions ml-3">
    <%= f.submit "Восстановить пароль", class: "btn btn-outline-success mt-2" %>
  </div>
<% end %>

<div class="mrg d-flex justify-content-start">
  <%= render "devise/shared/links" %>
</div