<h2 class="mt-2">Редактирование поста</h2>
<%= form_for :post, url: post_path(@post), method: :patch do |f| %>
<% if @post.errors.any? %>
	<% @post.errors.full_messages.each do |msg| %>
		<div class="alert alert-danger"><%= msg %></div>
		<% end %>
	<% end %>

	 	<div class="mb-2">
	 		<p class="mb-1">Название</p>
	 		<%= f.text_field(:title, {:class => 'form-control'}) %>
	 	</div>
	 	<div class="mb-2">
	 		<p class="mb-1">Текст статьи</p>
	 		<%= f.text_area(:body, {:class => 'form-control'}) %>
	 	</div>
		<div class="custom-file mt-2 mb-2">
			 <%= f.file_field :image, class: "custom-file-input d-inline-block", id: "customFile" %>
			 <label class="custom-file-label" for="customFile">Choose file</label>
		</div>
	 	<p>
	 		<%= f.submit nil, class: 'btn btn-success' %>
	 	</p>
	 	<% end %>
