<h2 class="text-center mt-2">Добавление нового поста</h2>
<%= form_for :post, url: posts_path, html: { multipart: true } do |f| %>
<% if @post.errors.any? %>
	
		<div class="alert alert-danger">
			<h5><%= t('common.errors') %></h5>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<%end%>
			</ul>
		</div>
	<% end %>
	 	<div class="mb-2">
	 		<p class="mb-1">Название</p>
	 		<%= f.text_field(:title, {:class => 'form-control'}) %>
	 	</div>
	 	<div class="mb-2">
	 		<p class="mb-1">Текст статьи</p> 
	 		<%= f.text_area(:body, {:class => 'form-control'}) %>
		 </div>
		 
	 	<div class="custom-file mt-2 mb-2">
			 <%= f.file_field :image, class: "custom-file-input d-inline-block", id: "customFile" %>
			 <label class="custom-file-label" for="customFile">Choose file</label>
		</div>



		<div>
			<%= f.submit class: 'btn btn-success', value: 'Добавить пост' %>
		</div>
		<% end %>